<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="text-center">
      <% if params[:category].blank? %>
        <h1 class="index-heading">Articles</h1>
      <% else %>
        <h1 class="index-heading">
          <%= @category_name %>
        </h1>
      <% end %>
    </div>
    <% if user_signed_in? %>
      <%= link_to 'New Article', new_article_path, class:"btn btn-primary btn-block" %>
    <% end %>
    <br />
    <%= render @articles %>
  </div>
</div>

<div class="text-center">
  <%= will_paginate @articles, renderer: BootstrapPagination::Rails %>
</div>

