<% @title = "About Me" %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="text-center">
      <h1>About me</h1>
      
      <p>Polaroid hot chicken you probably haven't heard of them, meggings 
      williamsburg tacos trust fund meh echo park narwhal before they sold out 
      taxidermy gluten-free venmo actually. Taxidermy vegan live-edge mlkshk copper 
      mug, ramps beard 90's poke paleo health goth vinyl austin tumeric tilde. Lomo 
      poutine semiotics, fashion axe fanny pack skateboard enamel pin meggings 
      kinfolk before they sold out normcore tattooed chartreuse scenester pug. 
      Affogato paleo beard cold-pressed mustache farm-to-table, craft beer 
      williamsburg keffiyeh VHS. YOLO offal jianbing, tofu lumbersexual iceland 
      kitsch helvetica fashion axe fanny pack shoreditch cold-pressed narwhal. 
      Try-hard kitsch tbh beard. Salvia austin activated charcoal snackwave 
      franzen cred twee, master cleanse mixtape stumptown direct trade.</p>
    </div>
  </div>
</div>