<% @title = "About Me" %>
<%= javascript_tag do %>
  nav = 2;
<% end %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="text-center">
      <h1 class="about-heading">About Me</h1>
    </div>
    <div>
      <%= image_tag "TestProfile.jpg", class: "text-center profile-image" %>
      <p class="about-content">
      Polaroid hot chicken you probably haven't heard of them, meggings 
      williamsburg tacos trust fund meh echo park narwhal before they sold out 
      taxidermy gluten-free venmo actually. Taxidermy vegan live-edge mlkshk copper 
      mug, ramps beard 90's poke paleo health goth vinyl austin tumeric tilde. Lomo 
      poutine semiotics, fashion axe fanny pack skateboard enamel pin meggings 
      kinfolk before they sold out normcore tattooed chartreuse scenester pug.
      </p>
    </div>
  </div>
</div>