<!-- Assigns value to @title variable -->
<% @title = "About Me" %>

<!-- assigns variable 'nav' to enable navbar highlighting -->
<%= javascript_tag do %>
  nav = 2;
<% end %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="text-center">
      <!-- About heading
      <h1 class="about-heading">About Me</h1>
      -->
    </div>
    <div>
      <!-- Simple profile image with circular border -->
      <%= image_tag "profile1.jpg", class: "text-center profile-image" %>
      <!-- A few articles listing info, achievements etc -->
      <p class="about-content">
      Matthew is a 20 year old writer and student from Glasgow. His work is mainly focused around fashion and wider culture.
      <br><br>
      </p>
    </div>
  </div>
</div>