/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
//font-family: 'Lora', serif;
//font-family: 'Raleway', sans-serif;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700|Raleway:400,400i,700');

// General styling **********************************************

body {
	font-family: 'Lora', serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}

a {
  color: #333333;
  &:hover {
    text-decoration: none;
    color: #333;
  }
}

.main-section {
  min-height: 400px;
}


// Header styles **********************************************

.header-link {
  &:hover {
    text-decoration: none;
    color: #333333;
  }
}

.header-name {
  font-size: 40pt;
}

.header-below-name {
  font-family: 'Lora', serif;
  font-style: none;
  margin-bottom: 20px;
}


// Navbar Styles **********************************************

.navbar-default {
  background-color: #fff;
  border: none;
  border-top: black;
  border-top: solid;
  border-width: 2px;
  border-radius: 0px;
}

// navbar centering
.navbar .navbar-nav { 
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

// Styling for responisve navbar hovering
.navbar-nav > li > a{
  padding-top: 13px;
  border-top: solid;
  border-width: 2px;
  border-color: #fff;
  &:hover {
    border-color: #333333;
  }
}


// Index Styles **********************************************

.index-heading {
  font-weight: bold;
  font-size: 48px;
}

.article-title {
  margin-top: 10px;
}

.article-top-line {
  margin-top: 10px;
}

.index-well {
  background-color: #fff;
  border: none;
  box-shadow: none;
  &:hover {
    background-color: #eee;
  }
}

.index-user-button {
  font-size: 20px;
}

.index-user-buttons {
  float: right;
}

.pagination {
  .active > span{
    background-color: #333333;
    border-color: #333333;
    &:hover {
      background-color: #333333;
      border-color: #fff;
    }
  }
  
  li > a {
    color: #333333;
  }
}


// Article show styles **********************************************

.article-show-headline {
  font-weight: bold;
  font-size: 48px;
  margin-top: 10px;
}

.article-head-section {
  border-bottom: solid;
  border-color: #ddd;
  border-width: 1px;
  margin-bottom: 25px;
}

.article-author {
  font-weight: bold;
}

.article-category {
  color: red;
  font-weight: bold;
}

.article-body p {
  font-size: 20px;
  font-family: 'Lora', serif;
  line-height: 28px;
  // Adding initial to the start of the first paragraph
  &:nth-child(2) {
    &::first-letter {
      font-weight: bold;
      font-size: 48px;
    }
  }
}

.article-text {
  font-size: 20px;
  font-family: 'Lora', serif;
  line-height: 28px;
  color: #333333;
}

.textarea {
  font-family: 'Lora', serif;
}

// Contact Page Styles **********************************************

.contact-list {
  text-align: left;
  padding: 20px 40px 20px 40px;
  border: solid;
  margin-top: 20px;
  border-width: 1px;
  border-radius: 5px;
  border-color: #444444;
  border-color: #ddd
}

.contact-list>a, .contact-list>span {
  line-height: 64px;
}

// About Page Styles **********************************************

.about-heading, .contact-heading {
  font-weight: bold;
}

.about-heading {
  border-bottom: solid;
  border-width: 1px;
  border-color: #ddd;
  padding-bottom: 10px;
}

.about-content {
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
}

// Button Styles **********************************************

.btn-primary {
  color: #333333;
  background-color: #fff;
  border-color: #333333;
  &:hover {
    background-color: #eee;
    border-color: #333333;
    color: #333333;
  }
  &:active {
    background-color: #333333;
    color: #fff;
  }
}

.btn-danger {
  color: #fff;
  background-color: #333333;
  border-color: #333333;
  &:hover {
    background-color: #333333;
    border-color: #fff;
    color: #fff;
  }
  &:click {
    background-color: #fff;
    color: #333333;
  }
}

.twitter-btn {
  color: #fff;
  background-color: #00aced;
  font-size: 20px;
  padding: 5px;
  padding-left: 8px;
  padding-right: 4px;
  border: solid;
  border-radius: 100%;
  border-width: 2px;
  border-color: #00aced;
  &:hover {
    color: #00aced;
    background-color: #fff;
  }
}

.insta-btn {
  color: #fff;
  background-color: #8a3ab9;
  font-size: 20px;
  padding: 5px;
  padding-left: 8px;
  padding-right: 8px;
  border: solid;
  border-radius: 100%;
  border-width: 2px;
  border-color: #8a3ab9;
  
  &:hover {
    color: #8a3ab9;
    background-color: #fff;
  }
}

.linkedin-btn {
  color: #fff;
  background-color: #0077B5;
  font-size: 20px;
  padding: 5px;
  padding-left: 8px;
  padding-right: 4px;
  border: solid;
  border-radius: 100%;
  border-width: 2px;
  border-color: #0077B5;
  
  &:hover {
    color: #0077B5;
    background-color: #fff;
  }
}


.article-back-btn {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}

// Image styles **********************************************

.img-index {
  width: 160px;
  vertical-align: middle;
  margin-top: 10px;
  margin-bottom: 10px;
}

.img-show {
  width: 500px;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.profile-image {
  border-radius: 100%;
  height: 160px;
  margin: 40px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

// footer styles **********************************************

.footer {
  border-top: black;
  border-top: solid;
  border-width: 2px;
  border-radius: 0px;
  margin-top: 75px;
  
  .footer-container {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}



// form styles **********************************************

.field {
  .text-area {
    visibility: visible;
  }
}